html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-header {
  min-height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.bg-light {
  background-color: white !important;
}

.hero-left {
  background-image: url('../public/images/top-left-bg.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-left .inner-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.hero-left .inner-content h4,
.hero-left .inner-content h5,
.hero-left .inner-content p {
  color: white;
}

@media (max-width: 992px){
  .hero-left {
    padding: 25% 0px;
  }
}

.btn-secondary {
  background-color: white;
  color: rgb(239, 111, 88);
  border-color: white;
}

section.section {
  margin-top: 20px;
  padding: 100px 0 0 0;
  position: relative;
  z-index: 9;
}

section.section header h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}

section.section header h6:before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #fb5849;
}

section.section header h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  color: #2a2a2a;
}